:root {
    --navColor:  #7e27dad0;
    --BGcolor-: rgb(246, 168, 168);
    --bg-color-1: rgb(6, 143, 6);
  }


  body{
    background-image: linear-gradient(45deg, rgba(238, 238, 77, 0.822), rgba(135, 207, 235, 0.781), rgba(255, 192, 203, 0.733));
  }
nav{
    background-color:var(--navColor) ;

}
li>a{
    color: aliceblue !important;
}

.card.img{
  height: 10rem;
}
.carousel-item>img{
  height: 100vh;
}