:root {
  --textColor: darkgray;
  --BGcolor-: rgb(246, 168, 168);
  --bg-color-1: rgb(6, 143, 6);
}
/* Universal Selector for default margin and padding*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Element Selector for Default style for body */
body {
  scroll-behavior: smooth;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: linear-gradient(45deg, rgb(238, 238, 77), skyblue, pink);
  /* padding: 2rem; */
  font-weight: lighter;
  text-transform: capitalize;
  box-sizing: border-box;
}

/* Combinators Selector for  all Headding animation */
.center-item>h1,
aside>h1,
section>h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  background-image: linear-gradient(-225deg,
      #231557 0%,
      #44107a 29%,
      #ff1361 67%,
      #fff800 100%);
  background-size: auto auto;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
/* Combinators Selector use for align header an Navigation bar inside side align */
.left-item>span,
.right-item>a {
  margin: 0px 0.4rem;
  background-color: var(--bg-color-1);
  color: aliceblue;
  border-radius: 0.4rem;
  background-color: var(--bg-color-1);
  text-decoration: none;
  outline: 0.2rem inset var(--textColor);
  padding: 0.5rem;
  box-shadow:0.4rem 0.8rem 0.4rem ;
}
/* Hover  effect for header */
header>.left-item>span:hover {
  opacity: 0.9;
  color: red;
  transition: 1s;
}

header>.right-item>a:hover {
  opacity: 0.9;
  color: red;
  transition: 1s;
}

/*Element selector Navigation bar style */
nav {
  background-color: #c1a9da;
  outline: 0.2rem outset var(--textColor);
  padding: 0.4rem;
  box-shadow:0.4rem 0.8rem 0.4rem;
}
.dropdown>a,
nav>div>div>ul>li>a {
  color:yellow ;
  text-decoration: none;
  text-align: center;
  font-weight: 600;

}

/*Combinators Selector for Navigation bar style */

nav>div>div>ul>li {
  width:6rem;
  height: auto;
  margin: 0 0.4rem;
  background-color: var(--bg-color-1);
  padding:0.5rem 0.5rem 0.1rem 0.5rem ;
  border-radius: 25% 0 25% 0;
  background-color:#44107a;
  outline: 0.2rem inset var(--textColor);
  text-align: center;
}
/*Combinators Selector for Navigation bar hover effect*/
.dropdown:hover,
nav>div>div>ul>li:hover {
  opacity: 0.8;
  font-weight: bold;
  color: white;
  background-color:rgb(74,230,158);
  box-shadow: 4px 8px 4px #de135a;
  transition: all 0.2s ease-out;
  transform: scale(1.1);
}

nav>div>div>ul>li>a:hover {
  color:yellow;
}

/*element Selector left section */
section {
  width: 100%;
  height: 100%;
  outline: 2px inset var(--textColor);
  border: 1px outset var(--textColor);
  background-color: rgb(239, 206, 236);
  padding: 5px;
  border-radius: 15% 0 0 0;

}
/* Combinators Selector for Left section */
section>p {
  text-align: justify;
  margin: 1rem;
}
/* Combinators Selector for Left section hover effect*/
section>p:hover {
  transform: scale(1.2);
  text-align: center;
  background-color: #eca6be;
  border-radius: 15%;
}

/* Combinators Selector for  middle section */
article>img {
  float: left;
 max-height:150px;
 min-height: auto;
  width: auto;
  margin-right: 1.5rem;
}
/* Combinators Selector for  middle section */
article>h2 {
  text-indent: 0.5cm;
}
/* Combinators Selector for  middle section */
article>p {
  clear: both;
  text-align: justify;
  overflow: auto;
  height: 210px !important;

}

/*right section /user profile card style */

aside {
  outline: 2px inset var(--textColor);
  border: 1px outset var(--textColor);
  background-color: rgb(239, 206, 236);
  border-radius: 0 15% 0 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

aside>h1 {
  font-size: 30px;
}

aside>.A {
  font-size: 40px;
  color: #231557;
}
aside>.B {
  font-size: x-large;
  opacity: 0.6;
}

aside>.C {
  font-size: larger;
}

aside>img {
  height: 200px;
  width: 100%;
}

aside>button {
  color: darkcyan;
  width: 90%;
  height: auto;
  padding: 10px;
  border: 2px outset #44107a;
  border-radius: 15px;
}
/* Combinators Selector for button hover effect */
aside>button:hover {
  transition: all 1s ease-in;
  background-color: rgb(110, 52, 138);
  color: rgb(184, 233, 217);
  font-size: larger;
}

/* footer style */
footer {
  text-align: center;
  background-color: rgb(92, 27, 27);
  color: white;
  word-spacing: 2px;
  letter-spacing: normal;
  border-radius: 0 0% 25px 25px;
}

footer>p>a {
  color: rgb(199, 180, 218);
}

footer>p>a:hover {
  background-color: aqua;
  color: #ff1361;

}